.contact {
  .info-section {
    padding: 54px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    .info-box {
      position: absolute;
      bottom: 60px;
      h4 {
        font-size: 1.2rem;
        color: $color3;
        margin: 0.7rem 0;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        color: $color3;
        margin: 0.2rem 0 1rem;
      }
    }
    .icon-section {
      width: 150px fit-content;
      .fab {
        color: $color3;
        text-decoration: none;
        margin-right: 10px;
        font-size: 1.8rem;
        transition: all 0.5s ease-in-out;
        display: inline-block;
        &:hover {
          color: $hoverColor;
        }
        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }
  }
  .content-area {
    margin-left: 35%;
    background: $color3;
    width: 65%;
    height: 100%;
    // padding: 0 0 0 25%;
    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .form-section {
        position: absolute;
        top: 56px;
        left: -250px;
        width: 500px;
        padding: 46px;
        height: calc(100% - 112px);
        background: $color2;
        -webkit-box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
        box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
        overflow-y: scroll;
        overflow-x: hidden;
        h5 {
          color: white;
          text-transform: capitalize;
          font-size: 1.4rem;
          margin-bottom: 4rem;
          margin-top: 2rem;
        }

        input[type="text"],
        textarea {
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 2px solid $color3;
          margin-bottom: 2rem;
          font-size: 1rem;
          line-height: 1.4rem;
          color: white;
        }
        button[type="submit"] {
          background: $color1;
          border: none;
          font-size: 1rem;
          text-transform: uppercase;
          width: 100%;
          color: white;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          text-align: center;
          padding: 17px 30px;
        }
      }
    }
  }
  .contact-section {
    vertical-align: top;
    display: inline-block;
    padding: 56px 0 0 0;
    max-width: 500px;
    h1 {
      font-size: 3rem;
      padding: 0px 0 40px 0;
      font-weight: 500;
      margin: 0 0 1rem;
      line-height: 1.2;
    }

    .contact-info {
      h1 {
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 1.3;
        margin: 0 0 1rem;

        span {
          color: $color1;
        }
      }
      .contact-box {
        padding: 30px;
        width: 600px;
        &:hover {
          transition: all 0.5s ease-in-out;
          -webkit-box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
        h5 {
          font-size: 1rem;
          //   margin: 0 0 1rem;
          font-weight: 600;
        }
        p {
          color: $color5;
          font-weight: 300;
          line-height: 1.4;
          //   margin: 0 0 1rem 0;
        }
      }
    }
  }
}
.menu-active {
  .menu-icon {
    .fas {
      color: white;
    }
  }
  #menu {
    background-color: $color1;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 1s ease-in-out;
    nav {
      width: 400px;
      text-align: center;
      a {
        font-size: 2.3rem;
        padding: 1rem;
        display: block;
        text-decoration: none;
        color: white;
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}
#menu {
  background-color: $color1;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  nav {
    width: 400px;
    text-align: center;
    a {
      font-size: 2.3rem;
      padding: 1rem;
      display: block;
      text-decoration: none;
      color: white;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}
@media (max-width: 767px) {
  .contact {
    .menu-icon {
      top: -1px;
      right: 280px;

      .fas {
        color: white;
      }
    }
    .content-area {
      height: auto;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .info-section {
      // display: none;
      padding: 10px 20px;
      position: static;
      .logo {
        height: 50px;
        width: 120px;
        font-size: 1.2rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      margin-left: 0;
      width: 100%;
      .img-container {
        padding: 56px 20px 0;
        width: 100%;
        height: auto;
        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }
      .contact-section {
        width: 100%;
        float: left;
        padding: 20% 20px 0;
      }
      .primary-btn,
      .ghost-btn {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    .info-section {
      .icon-section {
        .fab {
          font-size: 1.4rem;
        }
      }
    }
    .content-area {
      height: auto;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .img-container {
        width: 100%;
        padding: 56px 20px 0;
        height: auto;

        .form-section {
          position: static;
          width: 100%;
          height: auto;
          overflow: auto;
        }
      }
      .contact-section {
        width: 100%;
        float: left;
        padding: 20% 20px 0;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact {
    .content-area {
      height: auto;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .img-container {
        padding: 56px 20px 0;
        float: left;
        height: auto;
        width: 100%;
        .form-section {
          position: static;
          width: 100%;
          float: left;
          height: auto;
          overflow: auto;
        }
      }
      .contact-section {
        width: 70%;
        float: left;
        padding: 20% 20px 0;
        max-width: 800px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .contact {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;
        .form-section {
          // position: static;
          // width: 100%;
          left: -157px;
          width: 400;
        }
      }
      .contact-section {
        // width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 400px;
      }
      .primary-btn,
      .ghost-btn {
        margin-bottom: 20px;
      }
    }
  }
}
@media (min-width: 1500px) {
  .contact {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;
        .form-section {
          // position: static;
          // width: 100%;
          left: -250px;
          width: 500;
        }
      }
      .contact-section {
        // width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 500px;
      }
      .primary-btn,
      .ghost-btn {
        margin-bottom: 20px;
      }
    }
  }
}
