.work {
  .info-section {
    width: 20%;
  }
  .content-area {
    background: $color3;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    min-width: 300px;
    overflow: hidden;
  }
}
.logo {
  a {
    text-decoration: none;
    color: white;
  }
}
.work-section {
  margin-bottom: 56px;
  cursor: pointer;
  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0 0 56px 0;
  }
  h5 {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }

  .project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .project-box {
      position: relative;
      padding: 30px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
      box-shadow: 9px 20px 40px 3px rgba(0, 0, 0, 0.32);
      height: 300px;

      &:hover {
        transition: all 0.5s ease-in-out;
        -webkit-box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 10px 54px 0px rgba(0, 0, 0, 0.25);
        color: black;
      }

      .grey-bg {
        background: #efefef;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        &:hover {
          opacity: 0.9;
          color: black;
          .project-info {
            .project-details {
              transform: translate3d(0, 0, 0);
              opacity: 1;
            }
            .project-title {
              transform: translate3d(0, 0, 0);
              opacity: 1;
            }
          }
        }
        .project-info {
          padding: 56px;
          position: absolute;
          width: 100%;
          bottom: 0;
          .project-details {
            font-size: 1.1rem;
            text-transform: capitalize;
            position: relative;
            margin: 0 0 1rem 0;
            transform: translate3d(-100px, 0, 0);
            opacity: 0;
            transition: transform 0.5s ease-in-out;
          }
          .project-title {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 500;
            transform: translate3d(-100px, 0, 0);
            opacity: 0;
            transition: transform 0.6s ease-in-out 0.1s;
          }
          .fas {
            position: absolute;
            bottom: 70px;
            right: 40px;
            font-size: 2.5rem;
          }
        }
      }

      p {
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }
  }
}
.menu-active {
  .menu-icon {
    .fas {
      color: white;
    }
  }
  #menu {
    background-color: $color1;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 1s ease-in-out;
    nav {
      width: 400px;
      text-align: center;
      a {
        font-size: 2.3rem;
        padding: 1rem;
        display: block;
        text-decoration: none;
        color: white;
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}
#menu {
  background-color: $color1;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  nav {
    width: 400px;
    text-align: center;
    a {
      font-size: 2.3rem;
      padding: 1rem;
      display: block;
      text-decoration: none;
      color: white;
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }
  .work {
    .menu-icon {
      top: -1px;
      right: 20px;

      .fas {
        color: white;
      }
    }
    .content-area {
      height: auto;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .info-section {
      // display: none;
      padding: 10px 30px;
      position: static;
      .logo {
        height: 50px;
        width: 120px;
        font-size: 1.2rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      margin-left: 0;
      width: 100%;
      .scroll-section {
        padding: 50px 20px;
        width: 100%;
        height: auto;
        overflow: auto;
      }
      .work-section {
        .project-section {
          grid-template-columns: 1fr;
          .project-box {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .work {
    .info-section {
      width: 30%;
      padding: 56px 20px;
      .icon-section {
        .fab {
          font-size: 1.4rem;
        }
      }
    }
    .content-area {
      height: auto;
      width: 70%;
      margin-left: 30%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    .work-section {
      .project-section {
        grid-template-columns: 1fr;
        .project-box {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .work {
    .info-section {
      width: 30%;
      .icon-section {
        .fab {
          font-size: 1.4rem;
        }
      }
    }
    .content-area {
      height: auto;
      width: 70%;
      margin-left: 30%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
@media (min-width: 1200px) {
  .work {
    .info-section {
      width: 30%;
      .icon-section {
        .fab {
          // font-size: 1.4rem;
        }
      }
    }
    .content-area {
      height: auto;
      width: 70%;
      margin-left: 30%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
@media (min-width: 1500px) {
  .work {
    .content-area {
    }
  }
}
